@model ReportProblemModel
@using eStavba.Models

@{
    ViewData["Title"] = "Report A Problem";
}

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/abstract-white-minimalistic-architectural-interior-with-window-3d-illustration-rendering_689904-5387.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=ais') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        display: flex;
        flex-direction: column;
        color: #000000;
        text-align: center;
        height: 100vh; 
    }

    textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    textarea[name="ProblemDescription"] {
        resize: none;
        height: 150px;
    }

    .col-12 {
        display: flex;
        justify-content: space-between;
        gap: 20px; 
    }

    .col-6 {
        flex: 1; 
    }
</style>

<div class="center-page">
    <div class="login-container" style="min-width: 1000px;">
        <div class="heading">Report a Problem</div>
        <form asp-action="SubmitProblem" asp-controller="ReportProblem" method="post" class="form">
            <div class="col-12">
                <div class="col-6">
                    <div class="form-floating">
                        <input asp-for="FirstName" class="reply-textfield" placeholder="First Name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="LastName" class="reply-textfield" placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <textarea asp-for="ProblemDescription" class="reply-textfield" placeholder="Problem Description"></textarea>
                        <span asp-validation-for="ProblemDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                     <div class="form-floating">
                        <input asp-for="Email" class="reply-textfield" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="PhoneNumber" class="reply-textfield" type="tel" placeholder="Phone Number" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="ApartmentNumber" class="reply-textfield" placeholder="Apartment Number" />
                        <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="create-button" style="margin-top: 30px;">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>