@model AnnouncementModel

@{
    ViewData["Title"] = "Create Announcement";
}

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/white-background-with-white-background-black-text-that-says-white_689904-124037.jpg?w=740') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        display: flex;
        flex-direction: column;
        color: #000000;
        text-align: center;
    }
</style>

@using (Html.BeginForm("Create", "KPostAnnouncement", FormMethod.Post))
{
    <div class="center-page" style="min-width: 500px;">
        <div class="login-container">
            <h2 class="heading">Create New Announcement</h2>
            <div>
                <input asp-for="Title" placeholder="Title" class="reply-textfield" />
                <span asp-validation-for="Title" class="text-danger"></span>

            </div>
            <div>
                <textarea asp-for="Content" placeholder="Content" class="reply-textfield"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>

            </div>
            <div class="centered" style="margin-top: 25px;">
                <button type="submit" class="create-button">Create Announcement</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}