<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@model AnnouncementModel

@{
    ViewData["Title"] = "Delete Announcement";
}

<br />
<h2 class="heading">Delete Announcement</h2>
<br />

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/white-background-with-white-background-black-text-that-says-white_689904-124037.jpg?w=740') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        display: flex;
        flex-direction: column;
        color: #000000;
    }
</style>

<div class="login-container">
    <div>
        <h3 class="heading3">@Model.Title</h3>
        <p class="created-on">Created on: @Model.DatePosted.ToString("MMMM dd, yyyy")</p>
        <hr></hr>
        <p>@Model.Content</p>
    </div>

    <form asp-action="Delete" asp-controller="KPostAnnouncement" class="form" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <div class="centered">
            <button type="submit" class="delete-button">Confirm Delete</button>
        </div>
    </form>
</div>