@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="login-container centered" style="width: 500px;">
    <h3 class="heading3">Manage your account</h3>
    <h4 class="heading4" style="margin-bottom: -25px;">@ViewData["Title"]</h4>
    <partial name="_StatusMessage" for="StatusMessage" />
    <form id="change-password-form" class="form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.OldPassword" class="reply-textfield" placeholder="Current Password" autocomplete="current-password" aria-required="true" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.NewPassword" class="reply-textfield" placeholder="New Password" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.ConfirmPassword" class="reply-textfield" placeholder="Confirm New Password" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="create-button" style="margin-top: 25px;">Update password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
