@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="login-container centered" style="width: 500px;">
    <h3 class="heading3">Manage your account</h3>
    <h4 class="heading4" style="margin-bottom: -35px;">@ViewData["Title"]</h4>
    <partial name="_StatusMessage" for="StatusMessage" />
    <form id="email-form" class="form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating" style="width: 300px;">
                    <input asp-for="Email" class="reply-textfield" placeholder="Email" disabled />
                </div>
            }
            else
            {
                <div class="form-floating" style="width: 300px;">
                <input asp-for="Email" style="color: red;" class="reply-textfield" placeholder="Email" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="create-button">Send verification email</button>
                </div>
            }
        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="create-button" style="margin-top: 25px;">Change email</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
