@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="login-container centered" style="min-width: 600px;">
    <h3 class="heading3">Manage your account</h3>
    <h4 class="heading4">@ViewData["Title"]</h4>
    <p class="created-on">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
    <p class="created-on">
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <div class="centered" style="gap: 30px;">
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="create-button" type="submit">Download</button>
        </form>
        <a id="delete" asp-page="DeletePersonalData" class="delete-button">Delete</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
