@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="login-container center-page">
    <h1 class="heading">@ViewData["Title"]</h1>
    <p class="created-on">
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>