@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="login-container center-page">
    <h1 class="heading">@ViewData["Title"]</h1>
    <p class="heading4" style="color: #242424">
        Your password has been reset. 
    </p>
    <p class="heading4" style="color: #242424; margin-top: -15px;">
        Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>