@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/abstract-white-interior-highlights-future-architectural-background-3d-illustration-rendering_689904-142276.jpg') no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color: #000000; 
        text-align: center;
    }
</style>

<div class="login-container center-page" style="min-width: 500px;">
    <div id="account">
        <div class="text-container">
            <h1 class="heading">@ViewData["Title"]</h1>
        </div>
        <div class="col-12">
            <form method="post">
                <h2 class="heading2" style="color: #242424;">Enter your email.</h2>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="reply-textfield" autocomplete="username" aria-required="true" placeholder="Enter mail here" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="centered" style="margin-top: 25px;">
                    <button type="submit" class="create-button">Resend</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
